{% extends 'base.html' %}
{% block content %}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Staff Details</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="students.html">Staff</a></li>
                <li class="breadcrumb-item active">Staff Details</li>
            </ul>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="about-info">
                    <h4>About Staff</h4>

                    {% for i in staff %}
                    <div class="media mt-3">
                        <img src="/{{i.admin.profile_pic}}" class="mr-3" alt="...">
                        <div class="media-body">
                            <ul>
                                <li>
                                    <span class="title-span">Staff ID : </span>
                                    <span class="info-span">{{i.id}}</span>
                                </li>
                                <li>
                                    <span class="title-span">Full Name : </span>
                                    <span class="info-span">{{i.admin.first_name}} {{i.admin.last_name}}</span>
                                </li>
                                <li>
                                    <span class="title-span">Email : </span>
                                    <span class="info-span">{{i.admin.email}}</span>
                                </li>
                               
                               
                                <!-- <li>
                                    <span class="title-span">Mobile Number : </span>
                                    <span class="info-span">{{i.phone_number}}</span>
                                </li>
                                <li>
                                    <span class="title-span">Address : </span>
                                    <span class="info-span">{{i.address}}</span>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    {% endfor %}




                </div>
            </div>
        </div>
        {% endblock %}